<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Consumer Finance Dashboard</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/materialize/dist/css/materialize.css') }}">
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body>
  <nav class="green darken-1" role="navigation">
    <div class="nav-wrapper container"><a href="."><i class="brand-logo material-icons">credit_card</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Research</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Research</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center blue-grey-text darken-4">Consumer Finance Dashboard</h1>
      <div class="row center">
        <h5 class="header col s12 light">See what consumers are saying about their financial instituions.</h5>
      </div>
      <div class="row center">
	    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light green darken-3">Get started</a>
      </div>


<!-- 
	<div id="prod-list"  style="display:none;" class="answer_list" > WELCOME</div>
<input type="button" name="answer" value="Show Div" onclick="showDiv()" />	
  <a href="#!" class="btn" onclick="Materialize.showStaggeredList('#prod-list')">Click Me</a>
-->
      <br><br>

    </div>
  </div>

<div class="card hoverable  blue-grey darken-1 inline">
  <div class="card-image">
    <img src="../static/img/Credit card.png">
  </div>
  <span class="card-title white-text">Credit card</span>
  </div>

<div class="card hoverable  blue-grey darken-1 inline">
  <div class="card-image">
    <img src="../static/img/Bank account or service.png">
  </div>
  <span class="card-title white-text">Bank account or service</span>
  </div>
<div class="card hoverable  blue-grey darken-1 inline">
  <div class="card-image">
    <img src="../static/img/Credit reporting.png ">
  </div>
  <span class="card-title white-text">Credit reporting</span>
  </div>
<div class="card hoverable  blue-grey darken-1 inline">
  <div class="card-image">
    <img src="../static/img/Mortgage.png">
  </div>
  <span class="card-title white-text">Mortgage</span>
  </div>
<div class="card hoverable  blue-grey darken-1 inline">
  <div class="card-image">
    <img src="../static/img/Consumer loan.png">
  </div>
  <span class="card-title white-text">Consumer loan</span>
  </div>
<div class="card hoverable  blue-grey darken-1 inline">
  <div class="card-image">
    <img src="../static/img/Student loan.png">
  </div>
  <span class="card-title white-text">Student loan</span>
  </div>
<div class="card hoverable blue-grey darken-1 inline">
  <div class="card-image">
    <img src="../static/img/Money transfers.png">
  </div>
  <span class="card-title white-text">Money transfers</span>
  </div>

<!-- <div id="product-cards" ></div> -->

  <!--
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='bower_components/materialize/dist/js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/js/init.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
  </body>
</html>
<script type="text/javascript">
function showDiv() {
   document.getElementById('prodDiv').style.display = "block";
}
</script>
